In [9]:
import pandas as pd
# loading the dataset to pandas DataFrame
train = pd.read_csv('train.csv')
# loading the train class label dataset to pandas DataFrame
train_class_labels = pd.read_csv('train_class_labels.csv')


import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
trainboth = pd.merge(train,train_class_labels)
trainboth.to_csv("trainboth.csv",index=False)

In [11]:
df=pd.read_csv('trainboth.csv')

In [12]:
df.drop(["student_id","any"],axis = 1,inplace = True)
df.head()

,school,school_setting,school_type,classroom,teaching_method,n_student,gender,lunch,pretest,posttest
0,OJOBU,Rural,Public,6U9,Standard,22,Female,Does not qualify,53,62
1,GJJHK,Suburban,Public,X78,Standard,21,Female,Qualifies for reduced/free lunch,54,69
2,ANKYI,Urban,Non-public,ZNS,Standard,21,Female,Does not qualify,62,72
3,UAGPU,Suburban,Public,NWZ,Standard,21,Female,Does not qualify,58,69
4,QOQTS,Urban,Public,SUR,Standard,28,Female,Does not qualify,52,59

In [13]:
for col in df.columns[0:]:
    print(col, ":",len(df[col].unique()),"labels")

school : 23 labels
school_setting : 3 labels
school_type : 2 labels
classroom : 97 labels
teaching_method : 2 labels
n_student : 18 labels
gender : 2 labels
lunch : 2 labels
pretest : 69 labels
posttest : 68 labels

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import nltk
import string
from nltk.corpus import *
from wordcloud import *
from sklearn import *
from sklearn.model_selection import KFold, cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.decomposition import *
from sklearn.tree import *
from sklearn.feature_extraction.text import *
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import *
from sklearn.metrics import *
%matplotlib inline

In [15]:
one_hot_encoded_data=pd.get_dummies(df,columns=['school','school_setting','school_type','classroom','teaching_method','gender','lunch'])
print(one_hot_encoded_data)

      n_student  pretest  posttest  school_ANKYI  school_CCAAW  school_CIMBB  \
0            22       53        62             0             0             0
1            21       54        69             0             0             0
2            21       62        72             1             0             0
3            21       58        69             0             0             0
4            28       52        59             0             0             0
...         ...      ...       ...           ...           ...           ...
2021         24       33        45             0             0             0
2022         15       53        68             0             0             0
2023         28       33        40             0             0             0
2024         26       36        51             0             0             0
2025         20       65        78             0             0             0

      school_CUQAM  school_DNQDD  school_FBUMG  school_GJJHK  ...  \
0                0             0             0             0  ...
1                0             0             0             1  ...
2                0             0             0             0  ...
3                0             0             0             0  ...
4                0             0             0             0  ...
...            ...           ...           ...           ...  ...
2021             0             0             0             0  ...
2022             0             0             0             0  ...
2023             0             0             0             0  ...
2024             0             0             0             0  ...
2025             0             0             0             0  ...

      classroom_YUC  classroom_ZBH  classroom_ZDT  classroom_ZNS  \
0                 0              0              0              0
1                 0              0              0              0
2                 0              0              0              1
3                 0              0              0              0
4                 0              0              0              0
...             ...            ...            ...            ...
2021              0              0              0              0
2022              0              0              0              0
2023              0              0              0              0
2024              0              0              0              0
2025              0              0              0              0

      teaching_method_Experimental  teaching_method_Standard  gender_Female  \
0                                0                         1              1
1                                0                         1              1
2                                0                         1              1
3                                0                         1              1
4                                0                         1              1
...                            ...                       ...            ...
2021                             0                         1              0
2022                             1                         0              0
2023                             0                         1              1
2024                             1                         0              0
2025                             0                         1              1

      gender_Male  lunch_Does not qualify  \
0               0                       1
1               0                       0
2               0                       1
3               0                       1
4               0                       1
...           ...                     ...
2021            1                       0
2022            1                       0
2023            0                       0
2024            1                       0
2025            0                       1

      lunch_Qualifies for reduced/free lunch
0                                          0
1                                          1
2                                          0
3                                          0
4                                          0
...                                      ...
2021                                       1
2022                                       1
2023                                       1
2024                                       1
2025                                       0

[2026 rows x 134 columns]

In [16]:
best_features=["pretest",'n_student','lunch_Does not qualify','lunch_Qualifies for reduced/free lunch','school_UKPGS','school_setting_Suburban']

In [17]:
Y=one_hot_encoded_data['posttest']
best_features=["pretest",'n_student','lunch_Does not qualify','lunch_Qualifies for reduced/free lunch','school_UKPGS','school_setting_Suburban']
X=one_hot_encoded_data[best_features]
X_train, X_test, Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42,shuffle=True)

In [18]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import train_test_split

from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
import xgboost as xgb
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold, cross_val_score

classifiers = ['LinearSVM', 'RadialSVM', 
               'Logistic',  'RandomForest', 
               'AdaBoost',  'DecisionTree', 
               'KNeighbors','GradientBoosting']

models = [svm.SVC(kernel='linear'),
          svm.SVC(kernel='rbf'),
          LogisticRegression(max_iter = 1000),
          RandomForestClassifier(n_estimators=200, random_state=0),
          AdaBoostClassifier(random_state = 0),
          DecisionTreeClassifier(random_state=0),
          KNeighborsClassifier(),
          GradientBoostingClassifier(random_state=0)]
def acc_score(df,label):
    Score = pd.DataFrame({"Classifier":classifiers})
    j = 0
    acc = []

    
    
   
    
    for i in models:
        model = i
        model.fit(X_train,Y_train)
        predictions = model.predict(X_test)
        acc.append(accuracy_score(Y_test,predictions))
        j = j+1     
    Score["Accuracy"] = acc
    Score.sort_values(by="Accuracy", ascending=False,inplace = True)
    Score.reset_index(drop=True, inplace=True)
    return Score

In [19]:
data = one_hot_encoded_data
label_bc =one_hot_encoded_data["posttest"]
#features=["pretest",'n_student','lunch_Does not qualify','lunch_Qualifies for reduced/free lunch','school_UKPGS','school_setting_Suburban']
data_bc=one_hot_encoded_data
#data_bc.drop(["posttest"],axis = 1,inplace = True)

In [20]:
len(label_bc)

2026

In [21]:
len(data_bc)
score1 = acc_score(data_bc,label_bc)
score1

         Classifier  Accuracy
0  GradientBoosting  0.115764
1      DecisionTree  0.105911
2         LinearSVM  0.100985
3      RandomForest  0.100985
4         RadialSVM  0.066502
5          Logistic  0.054187
6          AdaBoost  0.051724
7        KNeighbors  0.051724

In [ ]:
score1 = acc_score(data_bc,label_bc)
score1

         Classifier  Accuracy
0      DecisionTree  0.995074
1  GradientBoosting  0.995074
2         LinearSVM  0.992611
3        KNeighbors  0.322660
4      RandomForest  0.305419
5          Logistic  0.113300
6         RadialSVM  0.081281
7          AdaBoost  0.066502